<h2>Update your kittens info</h2>
<%= form_for(@kitten) do |f| %>

	<p><%= f.label :name %>
	<%= f.text_field :name %></p>

	<p><%= f.label :age %>
	<%= f.text_field :age %></p>

	<p><%= f.label :cuteness %>
	<%= f.text_field :cuteness %></p>

	<p><%= f.label :softness %>
	<%= f.text_field :softness %></p>

	<p><%= f.submit "Update your kitten!" %></p>
<% end %>

<h4><%= link_to "Check out all the kittens here!", root_path %></h4>